<!-- un comentario -->
<nav class="main-menu">
  <ul>
    <li><a routerLink="/auth/login">Inciar sesión</a></li>
    <li><a routerLink="/pages/dashboard">Inicio</a></li>
    <li>
      <a routerLink="/pages/transferencias-recibidas">
        Transferencias recibidas
      </a>
    </li>
    <li>
      <a routerLink="/pages/transferencias-enviadas">
        Transferencias enviadas
      </a>
    </li>
  </ul>
</nav>
<!-- aquí se recarga el contenido al cambiar de ruta -->
<router-outlet></router-outlet>